#root {
	background-color: $main-background-color;
	max-width: 100vw;
	max-height: 300vh;
	margin: 0 0 auto;
	padding-bottom: 10%;
	border: 5px solid $main-border-color;
	color: $main-font-color;
}

#master-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#app-container {
	justify-items: center;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	// grid-template-rows: 10% 50% 40%;
	padding-top: 2em;
	width: 90%

}

#log-in-header {
	margin-bottom: .5em;
}

#login-button {
	grid-column: 2;
	grid-row: 1;
	padding: .6em;
	background-color: $main-theme-color;
	border: 2px solid $main-theme-color;
	border-radius: 1em;
	height: 2em;
	width: 10em;
  color: $main-border-color;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login-button:hover {
  background-color: $main-border-color;
  border: 2px solid $main-border-color;
	color: $main-theme-color;
}

#main {
	grid-column: 2;
	grid-row: 2;
	width: 95%;
}

#user-playlists {
	border: 2px solid $main-theme-color;
	border-radius: .5em;
	padding: 1em;
	margin: 1em;
	grid-row: 2;
	grid-column: 1;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 5% 95%;
	width: 75%;
	overflow-y: auto;
}

#user-playlist-header{
	padding-bottom: 3em;
	// vertical-align: top;
	font-size: 1.25em;
	font-weight: bold;
	color: $main-theme-color;
}

#playlist-header {
  color: $main-theme-color;
	text-decoration: underline;
}

#list-container {
	border: 2px solid $main-theme-color;
	border-radius: .5em;
	padding: 1em;
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	align-items: center;
	justify-items: left;
	overflow-y: auto;
}

#playlist-container {
  border: 2px solid $main-theme-color;
  border-radius: 0.5em;
  padding: 1em;
  // grid-column: 1;
  // grid-row: 2;
	max-height: 700px;
}

#playlist {
	overflow-y: auto;
	max-height: 38em;
}

#list-label-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	grid-column: 1;
	width: 100%;
	border: 1px dotted $main-theme-color;
	border-radius: .2em;
	margin: .2em;
}

#list-label {
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: left;
}
#list-button {
	grid-column: 2;
	width: 10%;
	color: red;
}

#function-button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: .75em;
}

#function-button {
	margin: .4em;
  padding: 0.6em;
  background-color: $main-theme-color;
  border: 2px solid $main-theme-color;
  border-radius: 1em;
  color: $main-border-color;
	font-weight: bold;
  display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 200px;
}

#function-button:hover {
  background-color: $main-border-color;
  border: 2px solid $main-border-color;
  color: $main-theme-color;
}

#small-function-button {
	padding: .25em;
	padding-left: .25em;
	padding-right: .25em;
  background-color: $main-theme-color;
  border: 1px solid $main-theme-color;
  border-radius: 1em;
  color: $main-font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	grid-column: 2;
}

#small-function-button:hover {
  background-color: $main-border-color;
  border: 2px solid $main-border-color;
  color: $main-font-color;
}

#small-icon {
  fill: $main-border-color;
}

#small-function-button:hover #small-icon {
  fill: $main-theme-color;
	background-color: $main-border-color;
	border: 2px solid $main-border-color;
}

#current-song-container {
	border: 2px solid $main-theme-color;
	border-radius: .5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-column: 3;
	grid-row: 2;
	padding: 1em;
	margin: 1em;
	width: 75%;

}

#current-song {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#current-song-functions {
	display: flex;
	flex-direction: row;
	text-align: center;
}

#song-details {
	margin-top: .5em;
}

#spotify-search-container {
	border: 2px solid $main-theme-color;
  border-radius: 0.5em;
  padding: 1em;
	margin-bottom: 1em;
}

#search-option {
  margin: .25em;
  padding: .25em;
  border: 5px solid $main-theme-color;
  border-radius: 1em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-option:hover {
  background-color: $main-border-color;
  border: 5px solid $main-font-color;
  color: $main-theme-color;
}

#options-container {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 50% 50%;
	// padding: 2em;
}

#spotify-search-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#input-field-container {
	display: flex;
	align-items: center;
	margin-bottom: .5em;
	border: 5px solid $main-theme-color;
	border-radius: .25em;
}

#search-button-container {
	display: flex;
}

#search-results {
	margin-bottom: .5em;
	max-height: 20em;
	overflow-y: auto;
}

#song-in-list-container {
	display: grid;
	grid-template-columns: 80% 20%;
	grid-column: 1;
	border: 1px dotted $main-theme-color;
	border-radius: .2em;
}

#song-in-list {
	grid-column: 1;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-rows: 50% 50%;
}

#song-span {
	padding: 0.3em 0;
}

