//color scheme
$main-background-color: #111316;
$main-font-color: #c5c5c5;
$main-font-hover-color: #f5f5f5;
$main-border-color: #414346;
$main-border-width: 2px;
$main-theme-color: #5AB55E

// // font style rules (excluding font color)
// $main-font-size: 1em;
// $main-font-family: 'Roboto', sans-serif;

// //file-explorer panel style rules
// $filex-width-wide-vp: 30%;
// $filex-width-narrow-vp: 30%;
// $filex-min-width: 300px;

// //spacing rules
// // $icon-y-axis-offset: 100px;
// $main-padding: 15px;

// //media rules
// // $media-max-width: 600px;
